DISCORD_TOKEN=pon_aqui_tu_token
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
DEFAULT_SEARCH_ENGINE=soundcloud
SPOTIFY_CLIENT_ID=opcional
SPOTIFY_CLIENT_SECRET=opcional
SOUNDCLOUD_CLIENT_ID=opcional
SOUNDCLOUD_OAUTH_TOKEN=opcional
